li{
    
    list-style-type:none;
    text-align: center;
    color: rgb(0, 0, 0);
}

.rows{
    display: grid;
    grid-template-columns:30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px ;
    text-align: center;
    
}

#words-list{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    position: absolute;
    text-align: center;
    margin-top: 120%;
}

#puzzle{
    text-align: center;
    position: absolute;
    margin-left: 12%;
    margin-right: 25%;
    margin-top: 10%;
}
    
    

#title{
   position: absolute;
    
   margin-left: 46%;
    margin-top: 5%;
    color: rgb(0, 0, 0);
    text-align: center;
}

#app
{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 750px;
    width: 600px;
    margin-left: 30%;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 12px 12px 2px 1px rgba(130, 102, 206, 0.466);
}
    


body{
    position: relative;
    background-color: rgb(236, 232, 255);
    font-family: 'Roboto', sans-serif;
}

.found{
    text-decoration: line-through;
    color: rgb(136, 136, 136);
}

.tile-found{
    background-color: rgb(210, 143, 255);
}

.tile:hover{
    background-color: rgb(65, 63, 63);
}
